<div class="container" style="margin-top:50px;">
  <h2 class="roboto-font">Welcome to <i>HACKFLIX !</i></h2>
  <small>developed by er.harshalsharma@gmail.com | Harshal Sharma</small>
  <br/><br/><br/><br/>
  <h4 class="roboto-font">Features:</h4>
    <ul>
      <li>Functionality to list movies in a web page.</li>
      <li>Visually appealing, interactive and responsive design.</li>
      <li>Developed using angular, angular-material, bootstrap and latest javascript features including rxjs.</li>
    </ul>
    <br/><br/>
    <button routerLink="movies" mat-stroked-button>Search Movies</button>
</div>


